@import "partials/colors";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $main-font-color-default;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

input, button, a.butt, label.butt, textarea {
  height: 40px;
  font-family: sans-serif;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 10px;
  margin: 10px auto;
  vertical-align: middle;
  font-size: 18px;
  border: 1px solid $main-color-dark;
}

button, a.butt, label.butt {
  color: $main-font-color-light;
  text-decoration: none;
  background-color: $main-color-default;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    background-color: $main-color-dark;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lighten($main-color-light, 30%);
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,.5) 50px);
}

header {
  padding: 20px;
  background: rgba(0, 0, 0, .2);
}

footer {
  padding: 20px;
}

nav.nav { // traditional nav bar
  background-color: $main-color-dark;
  ul {
    margin: 0;
    padding: 10px;
    text-align: left;
    & > li {
      display: inline;
      padding: 5px;
      a {
        color: $light-grey;
        text-decoration: none;
      }
    }
  }
}

.c { // container class
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  margin: 10px auto !important;
  flex-grow: 1;
}

.t { // tweets container
	flex-wrap: wrap;

	li {
		flex-basis: 33%;
		flex-shrink: 1;
		flex-grow: 1;
	}
}

.col3 {
  display: flex;
  flex-direction: column;
  /* Tablet and up */
  @media (min-width: 768px) {
    flex-direction: row;
    > * {
      flex-grow: 1;
    }
  }
}

.card {
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  background-color: $main-color-default;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.dark {
  background-color: $main-color-dark;
  color: $light-grey;
  padding: 30px 20px;
}

.darker {
  background-color: $dark-grey;
  color: $light-grey;
}

@import "partials/index";
@import "partials/create";
@import "partials/detail";
