<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{#if metaRefresh}}
			<meta http-equiv="refresh" content="{{metaRefresh.delay}}; URL={{metaRefresh.url}}">
		{{/if}}
		<title>{{title}}</title>
		<link href="/css/soon.css" rel="stylesheet">
	</head>
	<body>
		{{{body}}}
		<footer class="darker">
			Copyright (c) 2016 Copyright Holder All Rights Reserved.
		</footer>
	</body>
</html>
