<section class="c">
	<h2>Create new Countdown</h2>
	<form id="cf">
		<input type="text" placeholder="Title" name="Title of Countdown">
		<textarea placeholder="Description" name="Description of Countdown"></textarea>
		<input type="number" min="0" name="days left" placeholder="days" value="">
		<input type="number" min="0" name="hours left" placeholder="hours">
		<input type="number" min="0" name="minutes left" placeholder="minutes">
		<input type="number" min="0" name="seconds left" placeholder="seconds">
		<input type="text" placeholder="Associated Twitter Hashtag" name="Associated Twitter Hashtag">
		<button type="submit">Create</button>
		<a href="/">Cancel and go back</a>
	</form>
</section>
