<nav class="nav">
	<div class="c">
		<ul>
			<li><a href="/create">Create new Countdown</a></li>
			<li><a href="/">Back to Overview</a></li>
		</ul>
	<div>
</nav>
<article id="countdown" class="c">
	<h2>{{cTitle}}</h2>
	<p>x days, y hours, z minutes and z seconds left</p>
	<p>{{cDescription}}</p>
</article>
<section id="tweets" class="dark">
	<h2>#geilo</h2>
	<ul class="c col3">
		<li>
			<article>
				<h3>User</h3>
				<time>5 minutes ago</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
		</li>
		<li>
			<article>
				<h3>User</h3>
				<time>5 minutes ago</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
		</li>
		<li>
			<article>
				<h3>User</h3>
				<time>5 minutes ago</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
		</li>
	</ul>
</section>
