<nav id="cta" class="c">
	<h2>
  	A simple, social and blazingly fast countdown plattform!
	</h2>
	<ul>
		<li><a href="/create" class="butt">Create a Countdown</a></li>
		<li><input type="text" placeholder="Countdown ID"/> <button>Go to</button>
	</ul>
</nav>
<div class="dark">
	<section class="col3 c">
		<aside class="card">
			<h2>Ending Soon</h2>
			<ul>
				<li><a href="/c/1">Midnight (29 minutes left)</a></li>
				<li><a href="/c/1">Full Moon (2 days, 10 hours, 35 minutes left)</a></li>
				<li><a href="/c/1">Christmas (1 month, 35 days left)</a></li>
			</ul>
		</aside>
		<aside class="card">
			<h2>Popular Countdowns</h2>
			<ul>
				<li><a href="/c/1">New Year's Eve 2017 (2 months, 10 days left)</a></li>
				<li><a href="/c/1">Start of Autumn (9 days left)</a></li>
				<li><a href="/c/1">1st advent (1 month, 1 day left)</a></li>
			</ul>
		</aside>
		<aside class="card">
			<h2>Recently Added</h2>
			<ul>
				<li><a href="/c/1">Bullshit (20 seconds left)</a></li>
				<li><a href="/c/1">test (7 days left)</a></li>
				<li><a href="/c/1">Tea Timer (3 minutes, 21 seconds left)</a></li>
			</ul>
		</aside>
	<section>
</div>
