$main-font-color-default: #fff;
$main-font-color-light: #fff;
$main-font-color-dark: #111;

$main-color-default: #027f80;
$main-color-light: #31fff5;
$main-color-dark: #004c4e;

$light-grey: #EEE;
$dark-grey: #222;
$grey-default: #AAA;

$error-color-default: #DB3D3D;
$error-color-dark: #8E1414;
$error-font-color-default: #FFF;
