$main-font-color-default: #fff;
$main-font-color-light: #fff;
$main-font-color-dark: #111;

$main-color-default: #006764;
$main-color-light: #31fff5;
$main-color-dark: #064846;

$light-grey: #EEE;
$dark-grey: #083130;
$grey-default: #AAA;

$error-color-default: #DB3D3D;
$error-color-dark: #8E1414;
$error-font-color-default: #FFF;
