#cf { // create form
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  input, textarea {
    margin: 10px auto;
    width: 100%;
  }
  textarea {
    height: 100px;
  }
}

#tinp {
  $tinp-gutter-width: 20px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-right: -$tinp-gutter-width;
  input {
    width: 100px;
    flex-grow: 1;
    display: inline-block;
    margin-right: $tinp-gutter-width;
  }
}
