
.bar {
  height: 50px;
  position: relative;
  border: 3px solid $dark-grey;
  background-color: $dark-grey;
  border-radius: 25px;
  overflow: hidden;

  > .lable {
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100%;
    line-height: 46px;
    margin: 0;
    vertical-align: middle;
    font-weight: 900;
    color: $light-grey;
  }

  > .fill {
    display: block;
    height: 100%;
    width: 200%;
    margin-left: -100%;
    border-radius: 20px;
    background-color: $main-color-default;
    position: relative;
    overflow: hidden;
  }

  > .fill:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-radius: 20px;
    overflow: hidden;
    animation: animate-background 5s linear infinite;
  }

}

@keyframes animate-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@keyframes progress {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: -100%;
  }
}
