#cta { // call to action in index.html
  overflow: hidden;
  padding: 100px 20px;
  h2 {
    margin-bottom: 50px;
    font-size: 42px;
  }
  ul {
    li {
      display: inline-block;
      width: 100%;
      margin: 0 0 20px 0;
      * {
        margin: 0;
      }
    }
    .butt {
      padding: 10px 20px;
      font-size: 32px;
      display: inline-block;
      box-sizing: content-box;
    }
  }
}

.ex { // example (popular, recent, ending soon)
  a {
    text-decoration: none;
    color: white;
    text-align: left;
    display: block;
    h3 {
      text-decoration: none;
      margin-bottom: 5px;
    }
  }
}
